.content-section {
    background-color: #ffffff;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.about-content{
    padding: 20px;
}

.section-title {
    color: #0077cc;
    border-bottom: 2px solid #0077cc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.tour-article {
    margin-bottom: 20px;
}

.tour-article-title {
    color: #555;
    margin-top: 0;
}

.tour-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.tour-item {
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
}

.tour-item::before {
    content: "\2022";
    color: #0077cc;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    position: absolute;
    left: 0;
}

.link {
    color: #0077cc;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 1249px) {
    .content-section {
        width: 94%;
    }
}