<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{description}}">
    <meta name="theme-color" content="darkmagenta">
    <meta name="keywords" content="{{keywords}}"/>
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:image" content="{{thumnail}}">

    <!-- Favicon -->
    <link rel="icon" href="{% static "images/favicon/icon.ico" %}" type="image/icon" sizes="16x16">

    <!-- Preconnect for Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Asynchronously Load Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"></noscript>

    <!-- Preload and Asynchronously Load Main CSS File -->
    <link rel="preload" href="{% static "css/base.css" %}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{% static "css/base.css" %}"></noscript>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{% static 'manifest.json' %}">


    {% block cssblock %}{% endblock cssblock %}
    <title>{{title}}</title>
</head>
    <!-- Navbar Section -->
    <nav>
        <a href="{% url "home" %}"><h4>BoatWale<img fetchpriority="high" loading="lazy" src="{% static "images/logo/boatwale.png" %}" alt=""></h4></a>
        <ul id="menu_bx">
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "boat-tours" %}">Boat Tours</a></li>
            <li><a href="{% url "blog" %}">Blog</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url "contact" %}">Contact</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url "dashboard" %}"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="12.25" viewBox="0 0 448 512"><path fill="#ffffff" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>Profile</a></li>
            {% else %}
                <li><a href="{% url "registration" %}"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="12.25" viewBox="0 0 448 512"><path fill="#ffffff" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>Sign Up</a></li>
            {% endif %}
        </ul>
        <svg class="bi bi-three-dots" xmlns="http://www.w3.org/2000/svg" height="18" width="16.25" viewBox="0 0 448 512"><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>
    </nav>

    <!-- Main content -->
    {% block content %}{% endblock content %}

    <!-- Footer Section -->
    <footer>
        <h2>Subscribe & <br> get special discount </h2>
        <p class="ff_p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias quidem cumque facere fugit neque qui.</p>
        <div class="input_bx">
            <input type="text" placeholder="Enter your Email address" id="Subscribe_input">
            <button>Subscribe</button>
        </div>
        <ul>
            <li>7823<br><p class="fs_p">Years Serving the travel Industry</p></li>
            <li>43032<br><p class="fs_p">Global <br> Patnership </p></li>
            <li>2733<br><p class="fs_p">Industry Awards since 2022</p></li>
            <li>172773<br><p class="fs_p">Subscribe</p></li>
        </ul>
    </footer>

    <!-- JavaScript -->
    {% block jsblock %}{% endblock jsblock %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>