{% extends "base.html" %}
{% load static %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
{% endblock cssblock %}

{% block content %}
    {% include "hero.html" %}
    <section class="blog_sec">
            <div class="blog_ctg">
                <div class="blog_pt">
                    {% for post in posts %}
                        <div class="blog">
                            <img fetchpriority="high" loading="lazy" src="/media/{{post.featured_image}}" alt="">
                            <h3>{{post.title}}</h3>
                            <p>{{post.description}}</p>
                            <div class="add-to-cart">
                                <a href="{% url 'post' slug=post.slug %}" ><button class="addbtn">Read More</button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Pagination -->
            {% comment %} <div class="pagination">
                <a href="#" class="prev">&laquo; Prev</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="next">Next &raquo;</a>
            </div> {% endcomment %}
    </section>
{% endblock content %}

{% block jsblock %}
    <script async src="{% static "js/shop-product.js" %}"></script>
{% endblock jsblock %}