{% extends "base.html" %}
{% load static %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static "css/blog.css" %}">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Boatwale",
        "url": "https://boatwale.com"
      }
    </script>

    <script type="application/ld+json">
      {
          "@context": "https://schema.org",
          "@type": "Organization",
          "name": "Boatwale",
          "url": "https://boatwale.com",
          "logo": "../static/images/favicon/boatwale_logo.png",
          "contactPoint": {
          "@type": "ContactPoint",
          "telephone": "+917376096419",
          "contactType": "customer service"
          },
          "sameAs": [
          "https://facebook.com/boatwale",
          "https://twitter.com/boatwale",
          "https://linkedin.com/company/boatwale"
          ]
      }
    </script>

    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "item": {
                "@id": "https://boatwale.com",
                "name": "Home"
              }
            },
            {
              "@type": "ListItem",
              "position": 2,
              "item": {
                "@id": "https://boatwale.com/blog/",
                "name": "Boatwale Category"
              }
            }
          ]
        }
        </script>

        <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "ItemList",
              "name": "Boatwale Categories",
              "description": "{{ description|safe }}",
              "itemListElement": [
                {% for category in categories %}
                {
                  "@type": "ListItem",
                  "position": {{ forloop.counter }},
                  "item": {
                    "@type": "Thing",
                    "name": "{{ category|safe }}"
                  }
                }{% if not forloop.last %},{% endif %}
                {% endfor %}
              ]
            }
        </script>

{% endblock cssblock %}

{% block content %}
    {% include "hero.html" %}
    <section class="blog_sec">
            <div class="blog_ctg">
                <div class="blog_pt">
                    {% for post in posts %}
                        <div class="blog">
                            <img fetchpriority="high" loading="lazy" src="/media/{{post.featured_image}}" alt="">
                            <h3>{{post.title}}</h3>
                            <p>{{post.description}}</p>
                            <div class="add-to-cart">
                                <a href="{% url 'post' slug=post.slug %}" ><button class="addbtn">click here</button></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- Pagination -->
            {% comment %} <div class="pagination">
                <a href="#" class="prev">&laquo; Prev</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#" class="next">Next &raquo;</a>
            </div> {% endcomment %}
    </section>
{% endblock content %}

{% block jsblock %}
    <script async src="{% static "js/shop-product.js" %}"></script>
{% endblock jsblock %}