{% extends "base.html" %}
{% load static %}

{% block cssblock %}
  <link rel="stylesheet" href="{% static "css/singal-product.css" %}">
{% endblock cssblock %}

{% block content %}
    <div class = "card-wrapper">
        <div class = "card">
          <!-- card left -->
          <div class = "product-imgs">
            <div class = "img-display">
              <div class = "img-showcase">
                {% for product_image in product_images %}
                  <img fetchpriority="high" src = "/media/{{product_image.image}}" alt = "{{product_image.alt}}">
                {% endfor %}
              </div>
            </div>
            <div class = "img-select">
              {% for product_image in product_images %}
                <div class = "img-item">
                  <a href = "#" data-id = "{{product_image.id}}">
                    <img fetchpriority="high" src = "/media/{{product_image.image}}" alt = "{{product_image.alt}}">
                  </a>
                </div>
              {% endfor %}
              {% comment %} <div class = "img-item">
                <a href = "#" data-id = "2">
                  <img fetchpriority="high" loading="lazy" src = "{% static 'images/shoes_images/shoe_2.webp' %}" alt = "shoe image">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "3">
                  <img fetchpriority="high" loading="lazy" src = "{% static 'images/shoes_images/shoe_3.webp' %}" alt = "shoe image">
                </a>
              </div>
              <div class = "img-item">
                <a href = "#" data-id = "4">
                  <img fetchpriority="high" loading="lazy" src = "{% static 'images/shoes_images/shoe_4.webp' %}" alt = "shoe image">
                </a>
              </div> {% endcomment %}
            </div>
          </div>
          <!-- card right -->
          <div class = "product-content">
            <h2 class = "product-title">{{boat_product.name}}</h2>
            <a href = "{% url "boat-packages" boat_product.boat.slug %}" class = "product-link">{{boat_product.boat.name}}</a>
            <div class = "product-rating">
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star-half-alt"></i>
              <span>4.7(21)</span>
            </div>
  
            <div class = "product-price">
              <p class = "last-price">Old Price: <span>₹{{boat_product.old_price}}</span></p>
              <p class = "new-price">New Price: <span>₹{{boat_product.new_price}}</span></p>
            </div>
  
            <div class = "product-detail">
              <h2>about this item: </h2>
              <p>{{boat_product.description}}</p>
              <ul>
                <li>Ride Duration: <span>{{boat_product.duration}}/hr</span></li>
                <li>Seat Size: <span>{{boat_product.boat.capacity}} people</span></li>
                <li>Boat Type: <span>{{boat_product.boat.name}}</span></li>
                <li>Timeing: <span>6AM to 8AM</span></li>
                <li>Destination: <span>84 Ghats + Morning Ganga Arti</span></li>
              </ul>
            </div>
  
            <div class = "purchase-info">
              <a href="{% url "booking" boat_product.slug %}"><button type = "button" class = "btn"><svg xmlns="http://www.w3.org/2000/svg" height="14" width="15.75" viewBox="0 0 576 512"><path fill="#ffffff" d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg> Book Now</button></a>
            </div>
  
            <div class = "social-links">
              <p>Share At: </p>
              <a href = "#">
                <i class = "fab fa-facebook-f"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-twitter"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-instagram"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-whatsapp"></i>
              </a>
              <a href = "#">
                <i class = "fab fa-pinterest"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}

{% block jsblock %}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "TouristAttraction",
    "name": "{{boat_product.name}}",
    "description": "{{boat_product.description}}",
    "image": [
      "{{boat_product.image}}"
    ],
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Varanasi",
      "addressRegion": "Uttar Pradesh",
      "addressCountry": "India"
    },
    "telephone": "7376096419",
    "url": "URL_of_the_service_page",
    "priceRange": "{{boat_product.price}}",
    "touristType": "religious",
    "touristTheme": "sunrise cruise",
    "offers": {
      "@type": "Offer",
      "price": "{{boat_product.price}}",
      "priceCurrency": "INR",
      "availability": "https://schema.org/InStock",
      "validFrom": "always",
      "url": "URL_of_the_service_page"
    },
    "performer": {
      "@type": "Organization",
      "name": "Boatwale",
      "description": "Welcome to Boatwale, your trusted platform for discovering unique and memorable boat tours in Varanasi on the sacred Ganges River."
    },
    "duration": "PT2H",
    "provider": {
      "@type": "Organization",
      "name": "Boatwale",
      "telephone": "7376096419",
      "url": "URL_of_the_service_page"
    },
    "isAccessibleForFree": "False",
    "isFamilyFriendly": "True",
    "isPartOf": {
      "@type": "Place",
      "name": "Ganges River",
      "alternateName": "River Ganga",
      "url": "https://en.wikipedia.org/wiki/Ganges"
    }
  }
  </script>
  <script async src="{% static "js/singal-product.js" %}"></script>
  <script async src="https://kit.fontawesome.com/5d48644dd5.js" crossorigin="anonymous"></script>
{% endblock jsblock %}